.wallpost {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 60%;
    padding: 30px;
}

.fetch_post {
    width: 700px;
    margin: 20px;
}

.post_button {
    width: 100px;
    margin: 20px;
}

.post_content {
    margin: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
}
