.input_field {
    position: absolute;
    top: 20%;
    left: 5%;
}
.user_search {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 30%;
    left: 20%;
}

.profile_pic_search {
    background-color: #fff;
    border: cornflowerblue solid 1px;
    border-radius: 0;
    border-radius: 0.5rem;
    object-fit: contain;
    width: 430px;
    height: 290px;
    margin: 40px;
    transform: scale(1.1);
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
}
