* {
    font-family: "Montserrat", sans-serif;
    background-image: image("images/background.jpg");
}

#res_login {
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
}
.nav-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    size: 14px;
    width: 500px;
    top: 10%;
    left: 60%;
    right: 40%;
    font-size: 25px;
}

.header_logo {
    background-color: #fff;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 60px;
}

p {
    font-size: 25px;
    padding: 3% 0%;
}

h1 {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 50%;
}

h2 {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
}
h3 {
    padding: 3% 0%;
}

button {
    background-color: #fff;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    opacity: 2;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
}

textarea {
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    opacity: 2;
}

.profile {
    width: 100vw;
    height: 100vh;
    background-color: lightpink;
    opacity: 10;
    border: solid lightpink 2px;
}
.presentational {
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 80%;
}
.profile_pic {
    width: 50%;
    height: 50%;
    background-color: #fff;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
    border-radius: 0;
    border-radius: 1.5rem;
}

.upload {
    position: absolute;
    top: 20%;
    left: 80%;
    box-shadow: 5px 5px rgba(252, 240, 240, 0.653);
    border-radius: 0;
    border-radius: 1.5rem;
    padding: 20px;
}

.user_profile {
    position: absolute;
    top: 40%;
    right: 70%;
}
.profile_pic_bigger {
    /* border: cornflowerblue solid 1px; */
    border-radius: 0;
    border-radius: 0.5rem;
    object-fit: cover;
    width: 24rem;
    transform: scale(1.1);
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
}
.user_infos {
    /* border: cornflowerblue solid 1px; */
    border-radius: 0;
    border-radius: 0.5rem;
    transform: scale(1.1);
    margin-top: 60px;
    padding: 10px;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
}

.user_search {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 30%;
    left: 20%;
}
.profile_pic_search {
    background-color: #fff;
    border: cornflowerblue solid 1px;
    border-radius: 0;
    border-radius: 0.5rem;
    object-fit: cover;
    width: 430px;
    height: 290px;
    margin: 40px;
    transform: scale(1.1);
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
}

.input_field {
    position: absolute;
    top: 20%;
    left: 5%;
}

#friends {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70%;
    padding: 0% 8%;
}
.message_board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: blue; */
    margin: 20px 20px;
    top: 40%;
    left: 40%;
    height: 200px;
    width: 100%;
}
.message_bubble {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    background-color: #fff;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
    border-radius: 0;
    border-radius: 1.5rem;
    width: 100%;
    padding: 10px 10px;
}
.chat_textarea {
    width: 500px;
    height: 250px;
    margin: 20px 20px;
}
.chat {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
}
.chat_parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.chat_pic {
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
    border-radius: 0;
    border-radius: 1.5rem;
}
