* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body {
    /* background-color: lightpink; */
    margin: 0px;
    border: solid black 5px;
}
main {
    height: 100%;
}

#res_login {
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
}
/*//! NAV-BAR //*/
.nav-bar {
    width: 1775px;
    height: 126px;
    object-fit: contain;
}

.nav-bar-rec {
    width: 257px;
    height: 63px;
    border: solid 3px #000000;
    background-color: #ffffff;
}

.nav-bar-rec > h2 {
    width: 106px;
    height: 38px;
    font-family: PTSans;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

a > h2 {
    font-size: 30px;
    padding: 3% 0%;
    color: black;
}

.header_logo {
    background-color: #fff;
}

.logo {
    /* width: 200px; */
    height: 200px;
    margin-left: 60px;
}

p {
    font-size: 15px;
    padding: 3% 0%;
    color: black;
}

h1 {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 50%;
}

h2 {
    /* position: absolute;
    text-align: center;
    top: 20%;
    left: 50%; */
}
h3 {
    padding: 3% 0%;
}

button {
    background-color: #fff;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    opacity: 2;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
}
button > p {
    font-size: 18px;
    padding: 5px 20px 5px 20px;
}

textarea {
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    opacity: 2;
    width: 400px;
}

.upload {
    position: absolute;
    top: 20%;
    left: 80%;
    box-shadow: 5px 5px rgba(252, 240, 240, 0.653);
    border-radius: 0;
    border-radius: 1.5rem;
    padding: 20px;
}

#friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
    padding: 0% 8%;
}
a > img {
    width: 40%;
    object-fit: contain;
    margin: 50px 50px 0px 0px;
    background-color: #fff;
    box-shadow: 5px 5px rgba(238, 119, 119, 0.653);
    border-radius: 0;
    border-radius: 1.5rem;
}
